@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: $color-background;
  color: $color-text;
  font-family: var(--font-body);
  line-height: $line-height-base;
}

p, span {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-heading);
  margin: 0;
}

@media (min-width: $breakpoint-sm) {
  body {
    padding: 1rem 2.5rem 2.5rem 2.5rem;
  }
}
